body {
    background: #fff;
    font-family: 'Delius', cursive;
    width: 100%;
  }
  #app {
    padding: 35px;
    margin: 20px auto;
    border-radius: 10px;
  }
  #app .playground {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;
    margin-bottom: -15px;
  }
  #app .playground .card .front {
    font-size: 50px;
    line-height: 120px;
    cursor: pointer;
    color: #b9bfcc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #app .playground .card .back {
    transform: rotateY(180deg);
    line-height: 110px;
  }
  #app .playground .card .back img {
    vertical-align: middle;
    width: 70%;
  }
  #app .playground .card.opened {
    transform: rotateY(180deg);
  }
  #app .playground .card.matched {
    transform: rotateY(180deg);
  }
  #app .playground .card.matched .back {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) inset;
    animation: selected 0.8s 0s ease 1;
    animation-fill-mode: both;
    opacity: 0.2;
  }
  @keyframes selected {
    0% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.9;
    }
    70% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.3;
    }
  }
  